body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdfdfd; /* Cinza claro */
}

  
  .container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .container h2 {
    text-align: center;
  }
  
  .container input[type="email"],
  .container input[type="password"],
  .container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    margin: 0 -8px 25px -8px;
  }
  
  .container input[type="submit"] {
    border-radius: 1%;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #d5d2d2;
    color: #0a0a0a;
    cursor: pointer;
  }
  
  .container input[type="submit"]:hover {
    background-color: #f516ba;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

footer {
    background-color: #f0f0f0; /* Cinza claro */
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
}